examples/build-mac/
examples/build-ios/
examples/build-android/
examples/build-linux/
examples/build-windows/
examples/build-web/
examples_onnx/cpp/build-linux
examples_onnx/cpp/build-macos
examples_onnx/cpp/build-android
include/.DS_Store
lib/.DS_Store
examples/.DS_Store
.vscode/
include/__pycache__/
__pycache__/
examples/out.txt
.DS_Store
# Python extension module for TEN VAD C++/C and ONNX runtime.
examples_onnx/python/build-linux
examples_onnx/python/build-macos

# Build artifacts
build/
